
@{
    ViewBag.Title = "Contact";
}

<div style="text-align:center;" class="container">

    <div class="starter-template">
        <h1 style="color: #E88300;">Kontaktinformation</h1>

        <p class="lead" style="color:#E88300;">Kvartettvägen 2-6<br> 142 63 TRÅNGSUND<br /> info@ostragymnasiet.se <br />  Telefonnummer 08-535 361 40 </p>
    </div>

</div>
<div class="container" style="text-align: center;">
    <img src="~/Content/Image/gymnasiet.jpg" />
</div>
<hr />

