
@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div id="myCarousel" class="carousel slide" data-interval="2000">

        <div class="carousel-inner">
            <div class="item active">
                <img src="~/Content/Image/bild1.jpg" class="img-responsive">
            </div>
            <div class="item">
                <img src="~/Content/Image/bild2.jpg" class="img-responsive">
            </div>
            <div class="item">
                <img src="~/Content/Image/bild3.jpg" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/Content/Image/bild4.jpg" class="img-responsive" />
            </div>
            <div class="item">
                <img src="~/Content/Image/bild5.jpg" class="img-responsive" />
            </div>

        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </div>
</div>

<hr />

<div style="text-align: center;" class="container">
    <div class="row">

        <div class="col-md-4">
            <img src="~/Content/Image/förstoringsglas.png" height="100" width="100" />
            <h1 style="color: #E88300;"> Hitta </h1>
            <hr />
            <h3> Här kommer du kunna söka och hitta exakt vart på skolan alla konstverk ligger!</h3>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Image/art.png" height="100" width="100" />
            <h1 style="color: #E88300;"> Kolla på </h1>
            <hr />
            <h3> Här kommer du kunna titta närmare på konst utan att behöva åka till skolan!</h3>
        </div>

        <div class="col-md-4">
            <img src="~/Content/Image/admin.png" height="100" width="100" />
            <h1 style="color: #E88300;"> Administrera</h1>
            <hr />
            <h3> Här kommer du kunna lägga till och ta bort konst. <br /> Du kommer även kunna redigera konst som redan finns i systemet!</h3>
        </div>
    </div>
</div>

<hr />