
@{
    ViewBag.Title = "Account";
}

<div style="text-align: center;" class="container">

    <form class="form-signin">
        <h2 style="color: #E88300;" class="form-signin-heading">Ändra Lösenord</h2>
        <label for="inputUsername" class="sr-only">Användrnamn</label>
        <input type="text" id="inputUsername" class="form-inline" placeholder="Användarnamn" required autofocus>
        <p>

        </p>
        <label for="inputPassword" class="sr-only">Gammalt Lösenord</label>
        <input type="text" id="inputPassword" class="form-inline" placeholder="Gammalt Lösenord" required>
        <p>

        </p>
        <label for="inputNewPassword" class="sr-only">Nytt Lösenord</label>
        <input type="text" id="inputPassword" class="form-inline" placeholder="Nytt Lösenord" required>
        <p>

        </p>
        <label for="inputPassword" class="sr-only">Upprepa Lösenord</label>
        <input type="text" id="inputPassword" class="form-inline" placeholder="Upprepa Lösenord" required>
        <p>

        </p>
        <button class="btn btn-md  " type="submit">Spara</button>
        <button class="btn btn-md  " type="submit">Avbryt</button>
    </form>

</div> <!-- /container -->
<hr />

