
@{
    ViewBag.Title = "AddAndEdit";
}
<div style="text-align: center;" class="container">
    <h1 style="color: #E88300;">Konstverk</h1>
    <hr />
    <div class="row">
        <div class="col-md-8">
            <h2>Bild</h2>
            <img src="~/Content/Image/ingenbildinlagd.png" class="bildborder" width="700"/><br /><br />
            <button class="btn btn-md " type="submit">Lägg till bild</button>
            <h2>Plats</h2>
           
            <img src="~/Content/Image/Karta1.jpg" width="700" />
        </div>
        
        <div class="col-md-4">
            <h2>Info</h2>
            <label class="form-control-static">Obligatorisk*</label><br />
            <label class="form-control-static">Lägg till Titel*</label><br />
            <input type="text" id="changeTitel" class="form-signin-heading" placeholder="Titel" required><br />
            <label class="form-control-static">Lägg till Datum*</label><br />
            <input type="text" id="changeDate" class="form-signin-heading" placeholder="Datum" required><br />
            <label class="form-control-static">Lägg till Konstnär*</label><br />
            <input type="text" id="changeArtist" class="form-signin-heading" placeholder="Konstnär" required><br />
            <label class="form-control-static">Lägg till Typ*</label><br />
            <input type="text" id="changeType" class="form-signin-heading" placeholder="Typ" required><br />
            <label class="form-control-static">Lägg till Plats*</label><br />
            <input type="text" id="changeLocation" class="form-signin-heading" placeholder="Plats" required><br /><br />
            <button class="btn btn-md " type="submit">Spara</button>
            <button class="btn btn-md " type="submit">Avbryt</button>
            
        </div>
    </div>
</div>

<hr />


