
@{
    ViewBag.Title = "Login";
}

<div style="text-align: center;" class="container">

    <form class="form-signin">
        <h2 style="color: #E88300;" class="form-signin-heading">Logga in</h2>
        <label for="inputUsername" class="sr-only">Användrnamn</label>
        <input type="text" id="inputUsername" class="form-inline" placeholder="Användarnamn" required autofocus>
        <label for="inputPassword" class="sr-only">Lösenord</label>
        <input type="password" id="inputPassword" class="form-inline" placeholder="Lösenord" required>
        <p>

        </p>
        <button class="btn btn-md " type="submit">Logga In</button>
        <button class="btn btn-md " type="submit">Avbryt</button>
    </form>

</div> <!-- /container -->
<hr />

